# Assignment 13

# **Question 1. (3 parts)**
Note: Table 9-1 in the book is a useful summary of string functions.
# 9.1 Concatenate Multiple Strings (CONCAT) 
## **1a. (screenshot: query and result)**
## Frequently used to recombine data that is stored in separate parts in the database, such as name parts or address parts. Also useful in general for many purposes. Use table person.address to CONCAT the columns for AddressLine1, City and PostalCode as Address. Limit the results to where city is Miami. Format the results to have comma and space between the parts, and add FL between the city and postal code in your concatenation.

# 9.2 ASCII Values 1b. (explanation)
## What does the ASCII function do?
## What does the CHAR function do?
## What are possible reasons for needing to use these functions? (Hint 9.2

# 9.3 Integer and Unicode Values 1c. (explanation)
## What does the UNICODE function do?
## What does the NCHAR function do?
## What are possible reasons for needing to use these functions? (Hint 9.3)

# **Question 2. (2 parts)**
# 9.4 Locate a Substring 
## **2a. (screenshot: query and result)**
## Use the table Person.Address to locate the string ‘Ave’ in AddressLine1 for cities in Miami.

# 9.5 Similarity of Strings (based on English phonetic rules) 
## **2b. (screenshot: query and result)**
## Use the Person.Address table. Based on the example using both SOUNDEX and DIFFERENCE. Get the DISTINCT SOUNDEX for city, the SOUNDEX for ‘Auburn’, the DIFFERENCE between city and ‘Auburn’, and the City column WHERE the DIFFERENCE between City and ‘Auburn’ is 3.

# 9.6 Left-Most (or Right-Most) Portion of a String 
## **Question 3. (screenshot: query and result)** 
## You want to return only the first part of the product number. Use Production.Product table. Get the Product number, and in another column, get only the Left most 2 characters of the product number.

# 9.7 Returning Part of a String (SUBSTRING) 
## **Question 4. (explanation)**
## What is the SYNTAX for using the SUBSTRING function?

# 9.8 Counting Characters or Bytes in a String 
## **Question 5. (screenshot: query and result)** 
## Use table Production.ProductReview. Find the number of characters in the comments column.

# 9.9 Replacing Part of a String 
## **Question 6. (screenshot: query and result)** 
## Use the table Production.UnitMeasure, column Name. We want to replace all occurrences of the word ‘centimeter’ with the abbreviation ‘cm’ in our results.

# 9.10 Inserting a string, into another string. 
## **Question 7. (explanation)** 
## What function is used to insert a string into another string?
## What is the syntax we would use?

# 9.11 Changing Character Case (UPPER and LOWER) 
## **Question 8. (screenshot: query and result)**
## Use the table Production.ScrapReason, column Name. Select the Name, the Name in all uppercase as Caps, and the Name in lowercase as Lower. You should have 3 columns in the results. Name, Caps, and Lower.

# **Question 9. (3 parts)** 
# 9.12 Removing Leading and Trailing Blanks 
## **9a. (explanation)** 
## What two functions can we use to trim leading and trailing blanks from a string?
# 9.13 Repeat an Expression N Times 
## **9b. (explanation)**
## What does the following query do?
## SELECT REPLICATE('SQL ', 10)

# 9.14 Repeat a Blank Space N Times 
## **9c. (screenshot: query and result)**
## Use Person.Address table. CONCAT the City and PostalCode columns with 20  Spaces between City and PostalCode.  Limit the results to where the City is Lakewood.

# 9.15 Reverse Order of Characters in a String 
## **Question 10. (screenshot: query and result)**
## Use HumanResources.Employee table, LoginID column. Use the method in example 9.15 to separate the Path adventure-works\ from the Employee.You will be using several functions to achieve this including LEFT, RIGHT, LEN, CHARINDEX and REVERSE.